body 
{
    text-align: center;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}
fieldset
{
    margin-top: 10%;
    margin-left: 33%;
    background-color: rgb(211, 220, 227);
    width: 30%;
    height: 50%;
    color:rgb(48,48,48);
    text-align:center;
}
#field
{
    background-color: rgb(238, 238, 238);
    color:rgb(48,48,48);
    height: 30%;
    padding-left: 15%;
    text-align:center;
}
/*l'afichage des lien par default */
a:link,a:visited,a:hover, a:focus, a:active {color: black;}
a:link,a:visited,a:hover, a:focus, a:active{text-decoration:none}