body 
{
    text-align: center;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(224, 224, 224);
}
#champ
{
    border:1px solid black;
    box-shadow:2px 2px 10px black;
    height: 150px;
    width: 200px;
    display:inline-block;
    background-color:rgb(255,136,17);
    color:rgb(245,245,245);
    margin:auto;
    margin-top: 5px;
}
#conex
{
    padding-left: 15%;
}
#corps
{
    border:1px solid black;
    color:rgb(48,48,48);
    width:1000px;
    padding:50px;
    margin:auto;
    border-radius:10px;
    background-color: rgb(233, 233, 233);
    text-align:center;
}
#cate
{
    border:1px solid black;
    box-shadow:2px 2px 10px black;
    height: 150px;
    width: 200px;
    display:inline-block;
    background-color:rgb(255,136,17);
    color:rgb(245,245,245);
    margin:auto;
    margin-top: 5px;
}
/*l'afichage des lien par default */
a:link,a:visited,a:hover, a:focus, a:active {color: black;}
a:link,a:visited,a:hover, a:focus, a:active{text-decoration:none}
.bouton
{
    border:1px solid black;
    box-shadow:2px 2px 10px black;
    height: 150px;
    width: 200px;
    display:inline-block;
    background-color:rgb(255,136,17);
    color:rgb(245,245,245);
    margin:auto;
    margin-top: 5px;
}
#cadre
{
    border:1px solid black;
    color:rgb(48,48,48);
    width:1000px;
    padding:50px;
    margin:auto;
    border-radius:10px;
    background-color: rgb(233, 233, 233);
    text-align:center;

}