<!DOCTYPE html>
<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
        <a href="/admin">
        <div class="gomenu">
        <h1>Menu</h1>
        </div>
        </a>
    <div id="corps">
            <form method="post" action="/ajouteruser">
                <legend>Ajouter un utilisateur</legend>
                <div id='conex'>
                <table>
                    <tr>
                        <td>Identifiant :</td>
                        <td><input name="loginajouter" type="text" id="loginajouter" autofocus /></td>
                    </tr>
                    <tr>
                        <td>Mot de Passe :</td>
                        <td><input type="password" name="passwordajouter" id="passwordajouter" /></td>
                    </tr>
                    <tr>
                        <td>Accés :</td>
                        <td><input type="radio" name="access" value="user" checked>user</td>
                        <td><input type="radio" name="access" value="admin">admin</td>
                    </tr><br>
                </table>
                </div>
<br>
            <input type="submit" value="Ajouter" />
            </form></div><br><div id="corps">
        <form method="post" action="/deletuser">
                <legend>Supprimer un utilisateur</legend>
                <div id='conex'>
                <table>
                    <tr>
                        <td>Identifiant :</td>
                        <td><select name="useradelet" size="1" id="useradelet">
                        <% msg.forEach(function(row){ %>
                            <option value="<%= row.id %>"><%= row.login %></option>
                        <% }) %>
                            </select></td>
                    </tr><br>
                </table>
                </div><br>
                <input type="submit" value="Suprimer" />
        </form>
</div>
</body>
</html>