<!DOCTYPE html>
<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
    <div id="corps">
    	<a href="/adminapplication">
        <div class="bouton">
        	<h1>Administration<br> de l'application</h1>
        </div>
        </a>
        <a href="/hardware">
        <div class="bouton">
            <h1>hardware <br><br></h1>
        </div>
        </a>
    </div>
</body>
</html>