<!DOCTYPE html>
<html>
    <head>
        <link href="index.css" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Connexion</title>
    </head>
    <body>
        <div id="corps">
            <a href="/adminapplication">
                <div id="cate">
                    <h1>Administration<br> de l'application</h1>
                </div>
            </a>
            <a href="/plan">
                <div id="cate">
                    <h1>Administrer<br> le reseau</h1>
                </div>
            </a>
        </div>
    </body>
</html>