<!DOCTYPE html>
<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
    <form method="post" action="/admin">
        <fieldset>
            <div id="field">
                <legend>Connexion</legend>
                <%= msg %>
                <table>
                    <tr>
                        <td>Identifiant :</td>
                        <td><input name="login" type="text" id="login" autofocus /></td>
                    </tr>
                    <tr>
                        <td>Mot de Passe :</td>
                        <td><input type="password" name="password" id="password" /></td>
                    </tr><br>
                </table><br>
            </div>
            <input type="submit" value="connexion" />
        </fieldset>
    </form>
</body>
</html>