<!DOCTYPE html>
<html>
<head>
    <link href="plan.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>plan</title>
<script type="text/javascript">

var dragged = null;//Lorsque dragged = null, il n'y a rien en cours de déplacement

//pour pouvoir envoyer en fonction du navigateur
function getXMLHttpRequest() {
    var xhr = null;
    
    if (window.XMLHttpRequest || window.ActiveXObject) {
        if (window.ActiveXObject) {
            try {
                xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
        } else {
            xhr = new XMLHttpRequest(); 
        }
    } else {
        alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
        return null;
    }
    
    return xhr;
}

//savoir si l'objet est en deplacement ou non
function drag(objet)
{
    if (dragged == objet)
    {
        dragged = null; //On l'enlève l'objet en cours
    }else
    {
        dragged = objet; //On le place comme objet en cours
    }
}

//Lorsque la souris se déplace
function drag_onmousemove(event)  
{
  if( dragged)
  {
        var x = event.clientX -20;
        var y = event.clientY -20;
        //Nouveau code :
        var element = document.getElementById('element0');
        element.style.position = 'absolute';
        element.style.left = x + 'px';
        element.style.top = y + 'px';
        element.style.backgroundColor = 'green';

        //bordure
        if (x>763)
        {element.style.left = 763 + 'px';} 
        else if (x<4)
        {element.style.left = 4 + 'px';}

        if (y>362)
        {element.style.top = 362 + 'px'; }
        else if (y<4)
        {element.style.top = 4 + 'px';}
  }
}

//ajouter des évènements
function addEvent(obj,event,fct)
{
  if( obj.attachEvent)
     obj.attachEvent('on' + event,fct);
  else
     obj.addEventListener(event,fct,true);
}

//On ajoute évènements avec la méthode
addEvent(document,'mousemove',drag_onmousemove);

var x = event.clientX + (document.body.scrollLeft || document.documentElement.scrollLeft);
var y = event.clientY + (document.body.scrollTop || document.documentElement.scrollTop);
</script>
</head>
<body >
    <form method="post" action="/enregistrerElement">
        <div id="map" onmousemove="souris(event);">
            <div id="element0" onmousedown="drag(document.getElementById('element0'),event);" style="left: 200px; top: 200px;"></div>
        </div>
		
        <input type="submit" value="pressMe" />	
        <%= msg %>
    </form>		    
</body>

</html>